<h3>
  投稿フォーム
</h3>

<app-display-toggle-block-container>
  <app-display-toggle-block [label]="'実画面'" [isDisplay]="true" [canHide]="false">
    <form
      novalidate
      #contributionForm="ngForm"
      (submit)="contribution()">

      <app-label-input
        [name]="'id'"
        [label]="'ID:'"
        [required]="true"
        [(ngModel)]="id"
      ></app-label-input>

      <br/>

      <app-label-input
        [inputType]="'password'"
        [name]="'password'"
        [label]="'PW:'"
        [required]="true"
        [(ngModel)]="password"
      ></app-label-input>

      <button
        type="submit"
        [disabled]="contributionForm.invalid">
        ログイン
      </button>

    </form>
  </app-display-toggle-block>
  <app-display-toggle-block [label]="'説明'" [isDisplay]="true">
    <h5 class="subtitle">
      ページ全体 src/app/content/contribution-form
    </h5>
    <p >
      webの標準的な入力フォームに Angular の動的制御を組み込んだサンプル。
    </p>
    <p >
      フォーム送信（API通信）前のフールプルーフとして正規表現や文字数制約のチェックを入力したタイミングで実施する。
      その入力制約状態を元にメッセージの表示やログインボタンを無効化する。
    </p>
  </app-display-toggle-block>
</app-display-toggle-block-container>
