<h3>
  投稿フォーム
</h3>

<app-display-toggle-block-container>
  <app-display-toggle-block [label]="'実画面'" [isDisplay]="true" [canHide]="false">
    <form
      novalidate
      #contributionForm="ngForm"
      (submit)="contribution()">


      <label>
        title:
        <input type="text" name="title" [required]="true" [(ngModel)]="title">
      </label>
      <br>
      <label>
        review:
        <textarea name="review" [required]="true" [(ngModel)]="review" maxlength="140"></textarea>
      </label>
      <br>
      <label>
        rate:
        <input type="number" name="rate" [required]="true" [(ngModel)]="rate" max="5" min="1">
      </label>

      <button
        type="submit"
        [disabled]="contributionForm.invalid">
        投稿
      </button>

      <p>
        通信します。
      </p>

      <pre>
      getResult: {{ getResult | json }}
      </pre>

    </form>
  </app-display-toggle-block>
  <app-display-toggle-block [label]="'説明'" [isDisplay]="true">
    <h5 class="subtitle">
      ページ全体 src/app/content/contribution-form
    </h5>
    <p >
      郵便番号API
      http://zipcloud.ibsnet.co.jp/doc/api
    </p>
    <p >
    </p>
  </app-display-toggle-block>
</app-display-toggle-block-container>

