<div class="d-flex flex-row p-2 bd-highlight">

  <ul class="nav nav-tabs flex-column">
    <li class="nav-item" *ngFor="let tab of tabs">
      <a class="nav-link" href="#" (click)="active = tab; tab.isDisplay != tab.isDisplay;" [ngClass]="{ 'active': active === tab}">{{tab.label}}</a>
    </li>
  </ul>



  <div class="card" *ngFor="let tab of tabs">
    <div class="card-body" *ngIf="tab.isDisplay">
      <ng-container *ngTemplateOutlet="tab.template"></ng-container>
    </div>
  </div>

</div>
